// @import './assets/reset.scss';
@import url('//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');

$break-small: 600px;

* {
    font-family: Hack;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: block;
}

.login-wrapper {
    padding: 8px;
}

.login, .menu {
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 400px;
    border: 1px solid;
    .error {
        color: red;
    }
    .success {
        color: green;
    }
}



.editor {
    height: 100%;
    .wrapper {
        padding: 8px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 16px);
    }
    textarea {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        border: none;
        overflow: hidden;
        outline: none;
        resize: none;
        &.value-text {
            height: 100%;
        }
        &.header {
            font-size: 40px;
        }
    }

    .save-info {
        text-align: right;
    }
}

input {
    border: 1px solid;
    padding: 5px;
    margin: 2px;
}

button {
    border: 1px solid;
    background: transparent;
    padding: 5px 10px 5px 10px;
    margin: 2px;
    outline: none;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.list-wrapper {
    text-align: left;
}